<ul>
    <li *ngFor="#dir of directories">
        <span class="icon-button" (click)="dir.toggle()">
            <span *ngIf="dir.expanded">-</span>
            <span *ngIf="!dir.expanded">+</span>
        </span>
        <label>
            <input type="checkbox" [checked]="dir.checked" (click)="dir.check()"/>
        </label>
        <strong>{{dir.name}}</strong>
        <div *ngIf="dir.expanded">
            <ul>
                <li *ngFor="#file of dir.files">{{file}}</li>
            </ul>
            <tree-view [directories]="dir.directories"></tree-view>
        </div>
    </li>
</ul>
